@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
@using Apprenticeship2.Data.Entities
@using Apprenticeship2.Data.DTO


<a href="/Assignment/AddAsignment?trainingID=@ViewBag.TID" class="btn btn-primary mb-4">create new Assignment</a>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Assignments Table</h4>
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped table-bordered zero-configuration">

                        <thead>
                            <tr>
                                <th>Assignment Title</th>
                                <th>Assignment Description</th>
                                <th>Assignment Notes</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>Reports</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var A in (List<Assignment>)ViewBag.Ass)
                            {
                                <tr>

                                    <td>@A.assignmentTitle</td>
                                    <td>@A.AssignmentDescription</td>
                                    <td>@A.assignmentNotes</td>
                                    <td>@A.startDate.Date</td>
                                    <td>@A.endDate</td>
                                    <td><a class="icon-note menu-icon text-warning" href="/Assignment/UpdateAssignment?AID=@A.AssignmentId"></a></td>
                                    <td><a class="ti-trash text-danger" href="/Assignment/DeleteAssignment?AID=@A.AssignmentId&TrainingId=@A.trainingId"> </a></td>
                                    <td><a href="/TeamLeader/ShowReports?AssignmentId=@A.AssignmentId" class="mdi mdi-file-document-box text-green"></a></td>

                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
              
            </div>
        </div>
    </div>
</div>
